; References
; intro:      https://github.com/yqrashawn/GokuRakuJoudo
; keys_info:  https://github.com/yqrashawn/GokuRakuJoudo/blob/master/src/karabiner_configurator/keys_info.clj
; karabiner:  https://karabiner-elements.pqrs.org/docs/



{ :profiles   { :Goku {:default true :sim 50 :delay 150 :alone 250 :held 250}}
  :templates  { ;:2do    "open 'twodo://x-callback-url/%s'"
                ;:km     "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
                :open   "open \"%s\""
                :type   "osascript -e 'tell application \"System Events\" to keystroke \"%s\" as text'"
                :delay  "osascript -e 'delay \"%f\"'"
                }
  :layers     { ;; :Spacebar-Mode  {:key :spacebar}
                :window-tab-mode {:key :tab
                                 :afterup [{:set ["window-move-mode" 0]}]
                                 :condi   [:!Spacebar-Mode]}
                :window-move-mode {:key :v :condi :window-tab-mode}
                }
  :simlayers  { :Launch-W-Mode  {:key :w}
                :Hyper-Q-Mode   {:key :q}
                :Vi-V-Mode      {:key :v}
                :Symbol-X-Mode  {:key :x :upwhen :any}
                :Search-Semicolon-Mode  {:key :semicolon}
                :caps_lock-mode {:key :caps_lock}
                ; :2do-d-mode     {:key :d :condi :2do}
                ; :tmux-windmove-mode {:key :q :condi :Terminals}
                :Spacebar-Mode  {:key :spacebar :upwhen :any}
                }
  :simlayer-threshold 200   ; exit simlayer after this
  :main [ { :des "test"
            :rules  [
                    ;[:##tab :tab nil {:alone :escape :held :mission_control :paras {:alone :50 :held :250}}]
                    ]}
          { :des "App-Specific customization" ; Execute with the highest priority!
            :rules  [
                      ;[:return_or_enter [:return_or_enter :escape :escape :escape] :Safari]
                      [:!T1 :!TC3         :Typora]      ; File Tree
                      [:!T2 :!TC1         :Typora]      ; Toggle TOC
                      [:!Tr :!COr         :Typora]      ; Footnote (注脚，引用，Reference)
                      [:!Cequal_sign :!Ch :Typora]      ; Highlight sign
                      [:!Chyphen :!TSgrave_accent_and_tilde :Typora]  ; Delete sign
                                          ;; Others
                      [:!O2 :!COp         :ForkLift]     ; Toggle dual panel
                      [:!Cw :!Cq          :iCal]         ; Command+W to quit
                      [:!Cw :!Cm          :Reminders]    ; Command+W to hide instead of quitting
                      [:!T2 :!CO3         :Preview]
                      [:!C0 :!C9          :Browsers]     ; navigate to last tab
                      ]}
          { :des "Swaping OR Simultaneous"
            :rules  [ ;; Swaping
                                              ; arrow -> jlik
                      [:!Oh :!Oleft_arrow]              ; move cursor by word
                      [:!Ol :!Oright_arrow]
                      [:!Oj :down_arrow]
                      [:!Ok :up_arrow]
                      [:!SOh :!SOleft_arrow]            ; select by word
                      [:!SOl :!SOright_arrow]
                      [:!SOj :!Sdown_arrow]
                      [:!SOk :!Sup_arrow]
                      [:!CSh :!CSleft_arrow]            ; select from the beginning of sentence
                      [:!CSl :!CSright_arrow]
                                              ; others
                      [:grave_accent_and_tilde [:!COspacebar :grave_accent_and_tilde :!COspacebar] [:cn :!nj68]] ; Pinyin Input
                      [:escape                 [:!COspacebar :grave_accent_and_tilde :!COspacebar] [:cn :nj68]]
                      [:grave_accent_and_tilde :escape :nj68]       ; Swap escape with grave accent
                      [:##escape :grave_accent_and_tilde [:nj68 ["Spacebar-Mode" 0]]]
                      [:##left_command :left_option :tmp_keyboard]
                      [:##left_option :left_command :tmp_keyboard]

                      ;; Simultaneous keys
                      ;[[:d :f] :delete_or_backspace]
                    ]}
          { :des "Quit application only when tapping command-q twice"
            :rules  [
                      [:!C#Pq [:!Cq ["command-q" 0]] ["command-q" 1]]
                      [:!C#Pq ["command-q" 1] nil {:delayed {:invoked ["command-q" 0] :canceled ["command-q" 0]}}]
                      ; [:!C#Pw [:!Cw ["command-w" 0]] :iTerm2 ["command-w" 1]]
                      ; [:!C#Pw ["command-w" 1] nil {:delayed {:invoked ["command-w" 0] :canceled ["command-w" 0]}} ]
                      ]}
          { :des "Launch-W-Mode"
            :rules  [ :Launch-W-Mode
                      [:c [:open "/Applications/Visual Studio Code.app"]]     ; Code
                      ;; [:e [:open "/Applications/Pycharm.app"]]          ; Editor
                      ;; [:e [:open "/Applications/Edison Mail.app"]]
                      [:f [:open "/Applications/ForkLift.app"]]
                      [:g [:open "/System/Library/CoreServices/Finder.app"]]
                      ;; [:g [:open "/Applications/Safari.app"]]
                      [:k [:open "/Applications/Karabiner-EventViewer.app"]]
                      ;; [:m [:open "/Applications/Obsidian.app"]]
                      [:r [:open "/Applications/Reeder.app"]]
                      ;; [:t [:open "/Applications/iTerm.app"]]
                      [:t [:open "/Applications/Things3.app"]]
                      [:v [:open "/Applications/WeChat.app"]]
                      [:y [:open "/Applications/Nutstore.app"]]

                      [:tab [:open "/Applications/Google Chrome.app"]]
                      [:caps_lock [:open "/Applications/Firefox.app"]]
                      [:comma [:open "/Applications/System Preferences.app"]]
                      ;; [:semicolon [:open "/Applications/Safari.app"]]
                      [:left_option [:open "/Applications/Zotero.app"]]
                      [:left_command [:open "/Applications/Typora.app"]]
                      [:spacebar [:open "/Applications/Obsidian.app"]]
                      [:right_command [:open "/System/Applications/Reminders.app"]]
                      ;; [:right_option [:open "/System/Applications/Reminders.app"] :tmp_keyboard]
                      #_[:period [:open "/Applications/Paw.app"]]            ; API tool
                      #_[:b [:open "/Applications/Bee.app"]]                 ; issue tracker
                      ]}
          { :des "Hyper-Q-Mode"
            :rules  [ :Hyper-Q-Mode
                      ; App-specific
                      [:c :!TCc :Finder]            ;
                      [:d :!OSa :Browsers]          ; Toggle "Dark Reader" extension
                      [:r :!SOc :Browsers]          ; Toggle "Read Mode" (Extension: Clearly)
                      ; Universal
                      ; [:f :!TSf]                    ; Toggle Traditional Chinese in Sougou
                      [:f :!TS4]                    ; Toggle Traditional Chinese in Squirrel
                      [:j :!!j]                     ; Tomato Clock, Hyper j
                      [:k :!!k]                     ; Toggle Unclutter
                      [:l :!!l]                     ; Drawing window (Detexify)
                      [:m :!!m]                     ; Hide/Show menubar icons (Dozer)
                      [:p :!!p]                     ; Upload pics using PicGo, Hyper p
                      ; [:spacebar [:2do "showAll"]]  ; Show all tasks (2do)
                      ]}
          { :des "Search-Semicolon-Mode"
            :rules  [ :Search-Semicolon-Mode
                      [:e :!STCe]                     ; translate
                      [:f :!STCf]                     ; translate selected words in Alfred
                      [:m :!STCm]                     ; search passwrod
                      ; [:v :!Ov]                     ; search clipboard history in Alfred
                      ; [:s :!OCs]                    ; search snippet (Snippetslab)
                      ]}
          { :des "Spacebar-Mode: mouse & system settings"
            :rules  [ :Spacebar-Mode
                      ; Universal
                      [:p :!CTSp]     ; Show picker (Sip)
                      [:w :!Ow  ]     ; resize & move windows (Moom)
                      [:n :!STCn]     ; Activate Scroll Mode (Vimac)
                      [:v :!STCv]     ; Vimium-like hint mode (Vimac)
                      [:z :!TS2 ]     ; Toggle ascii-mode (Squirrel)
                      [:g :f11 ]                                    ; Show desktop
                      [:caps_lock               :!COspacebar]       ; Switch input methods
                      [:grave_accent_and_tilde  :launchpad]         ; launchpad
                      [:escape                  :launchpad  :nj68]
                      [:tab                     :mission_control]   ; mission control
                      [:comma [:open "/System/Applications/System Preferences.app"]]
                      [:backslash               :mute]              ; mute
                      [:open_bracket            :volume_down]       ; volume down
                      [:close_bracket           :volume_up]         ; volume up
                      [:!Oopen_bracket          :!OSvolume_down]    ; 1/4 volume down
                      [:!Oclose_bracket         :!OSvolume_up]      ; 1/4 volume up

                      ; App-specific
                      [:s :!TSs             :Browsers]  ; Toggle Octotree
                      [:b :!SCb             :Browsers]  ; hide/show bookmark bar

                      [:b :!Cb              :VSCode]    ; Toggle Activity Bar
                      [:d :!TCp             :VSCode]    ; Toggle panel
                      [:f :!CSe             :VSCode]    ; Toggle focus on Explorer
                      [:s :!Cbackslash      :VSCode]    ; Toggle sidebar
                      [:3 :!Ohyphen         :VSCode]    ; back
                      [:4 :!Oequal_sign     :VSCode]    ; forward
                      [:5 :!CTj             :VSCode]    ; left editor
                      [:6 :!CTk             :VSCode]    ; right editor
                      [:!S3 :!CS7           :VSCode]    ; Toogle Line Comments

                      [:s :!C1              :Pycharm]   ; Toggle File Tree
                      [:d :!Of12            :Pycharm]   ; Toggle Terminal

                      [:k :down_arrow       :Preview]   ; Down
                      [:j :up_arrow         :Preview]   ; Up
                      [:s :!CO1             :Preview]   ; Hide the sidebar
                      [:v :!TCh             :Preview]   ; Highlight

                      [:s :!CSl             :Typora]    ; Toggle Sidebar
                      [:u :!OCu             :Typora]    ; Unordered list
                      [:v :!CSh             :Typora]    ; Highlight
                      [:x :!Tx              :Typora]    ; Toggle Task Status

                      [:1 :!TStab           :ForkLift]
                      [:2 :!Ttab            :ForkLift]
                      [:s :!COs             :ForkLift]  ; Toggle Sidebar
                      [:d :!CSp             :ForkLift]  ; Toggle preview

                      [:s :!OSl             :Obsidian]  ; Toggle left Sidebar
                      [:d :!OSr             :Obsidian]  ; Toggle right Sidebar
                      [:1 :!Ttab            :Obsidian]  ; go previous
                      [:2 :!TStab           :Obsidian]  ; go next
                      [:3 :!COopen_bracket  :Obsidian]  ; Backward
                      [:4 :!COclose_bracket :Obsidian]  ; Forward

                      [:s :!CSOs            :inna]      ; Rotate 0°
                      [:d :!CSOd            :inna]      ; Rotate 90°
                      [:f :!CSOf            :inna]      ; Rotate 270°

                      ; Others
                      [:d :!Cd              :Alfred]    ; Toggle debugging mode
                      [:1 :!TStab           :WPS]       ; show previous tab
                      [:2 :!Ttab            :WPS]       ; show next tab
                      [:d :!SCd             :iTerm2]    ; Split Vertically
                      [:s :!Cslash          :Things]    ; Toggle Sidebar

                      ; Default
                      [:1 :!CSopen_bracket  ]           ; show previous tab
                      [:2 :!CSclose_bracket ]           ; show next tab
                      [:3 :!Copen_bracket   ]           ; Backward
                      [:4 :!Cclose_bracket  ]           ; Foreward
                      [:f :!TCf]                        ; full screen
                      [:m :!Cm ]                        ; minimize windows
                      [:!Sd :!OCd]                      ; hide/show dock

                      [:h   {:mkey {:hwheel -50}}]      ; mouse-scroll
                      [:l   {:mkey {:hwheel 50}}]
                      [:j   {:mkey {:vwheel -50}}]
                      [:k   {:mkey {:vwheel 50}}]
                      ]}
          { :des "Symbol-X-Mode"
            :rules  [ :Symbol-X-Mode
                      [:return_or_enter [:end :!Ssemicolon :return_or_enter] :VSCode]
                      ;[:comma ["period-comma-mode" 1] nil {:alone :comma :afterup ["period-comma-mode" 0]}]
                      [:h [:!Sgrave_accent_and_tilde :slash]]           ; ~/  home
                      [:t [:!St :!So :!Sd :!So :!Ssemicolon :spacebar]] ; Insert TODO:
                      [:l [:hyphen :!Speriod]]      ; -> (right arrow)
                      ;; [:u :!S6]                     ; ^ (Up)
                      ]}
          { :des "caps_lock-mode [mapped to ctrl]"
            :rules  [ :caps_lock-mode
                      [:r :!Tr :Terminals]          ; ctrl r, search history
                      [:w :!Tw :Terminals]          ; ctrl w, delete the word before cursor
                      ; Universal
                      [:a :!Ta]                     ; ctrl a, start of sentence
                      [:e :!Te]                     ; ctrl e, end of sentence
                      [:h :!Tleft_arrow]            ; ctrl ←, switch screen
                      [:l :!Tright_arrow]           ; ctrl →
                      [:k :!Tk]                     ; ctrl k, delete to the end
                      [:w :!Odelete_or_backspace]   ; ctrl w, delete a word
                      [:period [:escape :period] :Terminals]
                    ]}
          { :des "Window-Manage-tab-Mode"
           :rules   [
                      :window-move-mode     ; tab-v
                      [:j :!CTOright_arrow] ; move to next screen
                      [:l :!CTOleft_arrow]  ; move to previous screen
                      [:i [:!TOequal_sign :!TOequal_sign :!TOequal_sign :!TOequal_sign]]   ; bigger
                      [:k [:!TOhyphen :!TOhyphen :!TOhyphen :!TOhyphen]]  ; smaller

                      :window-tab-mode
                      [:i :!TOi]            ; up
                      [:k :!TOk]            ; down
                      [:j :!TOj] [:d :!TOj] ; left
                      [:l :!TOl] [:g :!TOl] ; right
                      [:u :!TOu]            ; left up
                      [:o :!TOo]            ; right up
                      [:h :!TOh]            ; left down
                      [:semicolon :!TOsemicolon] [:period :!TOsemicolon] ; right down

                      [:c :!TOc]            ; center
                      [:f :!TOf]            ; full
                      [:r :!TOr]            ; nearly full
                      [:spacebar :!TOspacebar]      ; middle
                      [:e :!TOdelete_or_backspace]  ; original

                      ;; navigate to space
                      [:n :!!n]             ; next space
                      [:p :!!p]             ; previous space
                      [:1 :!TO1] [:2 :!TO2] [:3 :!TO3] [:4 :!TO4] [:5 :!TO5] [:6 :!TO6]
                      [:t :!!t]             ; Show/Hide iTerm2
                      ]}
          { :des "Vi-V-Mode"
            :rules  [ :Vi-V-Mode
                      [:z :!Cz]                       ; undo
                      [:d :delete_or_backspace]       ; delete
                      [:w :!Cdelete_or_backspace]     ; command delete
                      [:spacebar :return_or_enter]    ; enter
                      ;[:##i :f20]                     ; avoid mistake
                      [:j :down_arrow]                ; down
                      [:k :up_arrow]                  ; up
                      [:h :left_arrow ]               ; left
                      [:l :right_arrow ]              ; right
                      [:b :!Oleft_arrow]              ; beginning of word
                      [:semicolon :!Oright_arrow]     ; end of word
                      [:u :!Ta]                       ; beginning of sentence
                      [:o :!Te]                       ; end of sentence
                      ;; cursor move
                      [:!Sj {:mkey {:y 1546}}]        ; mouse-cursor
                      [:!Sk {:mkey {:y -1546}}]
                      [:!Sh {:mkey {:x -1546}}]
                      [:!Sl {:mkey {:x 1546}}]
                      [:!Ss {:mkey {:speed 0.5}}]     ; slower
                      [:!Sd {:mkey {:speed 2.0}}]     ; faster
                      [:!Sb :button1]                 ; left click
                      [:!Sn :button2]                 ; right click
                      ]}
          { :des "Vi Visual Mode"
            :rules  [
                      [:!CSi ["viv" 1]]                         ; enter vi visual mode
                      [:tab [:escape ["viv" 0]] ["viv" 1]]      ; exit vi visual mode
                      [:caps_lock [:escape ["viv" 0]] ["viv" 1]]
                      ;; [:button1 [:escape ["viv" 0]] ["viv" 1]]
                      [:d :delete_or_backspace ["viv" 1]]
                      [:j :!Sdown_arrow ["viv" 1]]
                      [:k :!Sup_arrow ["viv" 1]]
                      [:h :!Sleft_arrow ["viv" 1]]
                      [:l :!Sright_arrow ["viv" 1]]
                      [:b :!SOleft_arrow ["viv" 1]]
                      [:w :!SOright_arrow ["viv" 1]]
                      [:0 :!SCleft_arrow ["viv" 1]]
                      [:4 :!SCright_arrow ["viv" 1]]
                      ]}
          { :des "Whether pressed alone?"
            :rules  [
                      ; [:left_shift :left_shift nil {:alone :!COspacebar}]   ; switch input source
                      ; [:grave_accent_and_tilde {:grave_accent_and_tilde :lazy} nil {:alone :!SOgrave_accent_and_tilde}]
                      ;[:##grave_accent_and_tilde :##grave_accent_and_tilde nil {:alone :!SOgrave_accent_and_tilde}]
                                                                            ; force inputting accent sign under chinese input method
                      ; [:caps_lock :f20 nil {:alone :escape}]                ; caps_lock -> ⌃/escape; under effect of "caps_lock-mode"
                      [:caps_lock :left_control nil {:alone :escape}]       ; escape && jump out of inputting
                      [:left_command :left_command nil {:alone :!Ow}]       ; Moom
                      ]}
                      ]
  :applications   {
                    :2do        [ "^com\\.guidedways\\.TodoMac" ]
                    :Alfred     [ "com\\.runningwithcrayons\\.Alfred-Preferences"]
                    :Browsers   [ "^org\\.mozilla\\.firefox$"
                                  "^com\\.google\\.Chrome$"
                                  "^com\\.google\\.Chrome\\.canary$"
                                  "^com\\.apple\\.Safari$"
                                  "^com\\.microsoft\\.edgemac"]
                    :Chrome     [ "^com\\.google\\.Chrome$"
                                  "^com\\.google\\.Chrome\\.canary$"]
                    :Finder     [ "^com\\.apple\\.finder$"  ]
                    :ForkLift   [ "^com\\.binarynights\\.ForkLift-3"]
                    ;; :FSNotes    [ "co.fluder.FSNotes"]
                    :iCal       [ "^com\\.apple\\.iCal"]
                    :inna       [ "com.colliderli.iina"]
                    :iTerm2     [ "^com\\.googlecode\\.iterm2"]
                    :Obsidian   [ "md.obsidian"]
                    :Preview    [ "^com\\.apple\\.Preview"  ]
                    :Pycharm    [ "com\\.jetbrains\\.pycharm"]
                    :Reminders  [ "com\\.apple\\.reminders"]
                    :Safari     [ "^com\\.apple\\.Safari$"  ]
                    :Spotify    [ "^com\\.google\\.Chrome\\.app\\.Default-pjibgclleladliembfgfagdaldikeohf"]
                    :Typora     [ "^abnerworks\\.Typora$"]
                    :Things     [ "com.culturedcode.ThingsMac"]
                    :VSCode     [ "^com\\.microsoft\\.VSCode$"]
                    :WPS        [ "com\\.kingsoft\\.wpsoffice"]
                    :Terminals  [ "^com\\.apple\\.Terminal$"
                                  "^com\\.googlecode\\.iterm2$"
                                  "^co\\.zeit\\.hyperterm$"
                                  "^co\\.zeit\\.hyper$"
                                  "^io\\.alacritty$"
                                  "^net\\.kovidgoyal\\.kitty$"  ]
                    :Vims       [ "^org\\.vim\\.MacVim$"
                                  "^com\\.qvacua\\.VimR$" ]
                    }
  :input-sources  { ; can be used as to's condition
                    :sogou    { :input_mode_id    "com.sogou.inputmethod.pinyin"
                                :input_source_id  "com.sogou.inputmethod.sogou.pinyin"
                                :language         "zh-Hans"}
                    :squirrel { :input_mode_id    "^com\\.googlecode\\.rimeime\\.inputmethod\\.Squirrel$"
                                :input_source_id  "^com\\.googlecode\\.rimeime\\.inputmethod\\.Squirrel\\.Rime$"}
                    :us       { :input_mode_id    ""
                                :input_source_id  "com.apple.keylayout.ABC"
                                :language         "en"}
                    :cn       { :input_mode_id    "com.apple.inputmethod.SCIM.ITABC"
                                :input_source_id  "com.apple.inputmethod.SCIM.ITABC"
                                :language         "zh-Hans"}
                    }
  :devices        {
                    :macbook-internal [{:vendor_id 1452 :product_id 635 }]
                    :ikbc             [{:vendor_id 1241 :product_id 394 }]
                    :nj68             [{:vendor_id 9639 :product_id 64023}
                                       {:vendor_id 1121 :product_id 16386}]
                    :tmp_keyboard     [{:vendor_id 621  :product_id 2 }]
                    }
}
